<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
  </head>
  <body>
    <h1>GROCERY SHOP</h1>
    <h2><%= title %></h2>
    <% if (items.length === 0) { %>
      <p>There are not any items listed under this category.</p>
    <% } else { %>
        <div>
          <% items.forEach(item => { %>
              <div>
                <a href="/items/<%= item.name %>"><%= item.name %></a>
                <% if (item.category) { %>
                  <span><%= item.category %></span>
                <% } %>
                <img src="<%= item.imageurl %>" alt="">
                <span><%= item.price %></span>
                <% if (item.amount) { %>
                    <% if (item.amount > 0) { %>
                        <span>Amount: <%= item.amount %></span>
                    <% } else { %>
                        <span>Sold Out</span>
                    <% } %>
                <% } %>
              </div>
          <% }) %>
        </div>
    <% } %>
    <aside>
      <h2>Filter Items</h2>
      <h3>Categories</h2>
      <ul>
        <% categories.forEach(category => { %>
            <li><a href="/categories/<%= category.name %>"><%= category.name %></a></li>
        <% }) %>
      </ul>
      <h3>Store Availability</h3>
      <ul>
        <% stores.forEach(store => { %>
            <li><a href="/stores/<%= store.name %>"><%= store.name %></a></li>
        <% }) %>
      </ul>
    </aside>
  </body>
</html>
