<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <title>Shop</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <h1 class="h1">GROCERY SHOP</h1>
    <h2 class="title"><%= title %></h2>
    <% if (locals.category) { %>
        <a href="/categories/<%= category %>/delete" class="delete-category-link">Delete Category</a>
    <% } %>
    <% if (items.length === 0) { %>
      <p>There are not any items listed under this category.</p>
    <% } else { %>
        <div class="item-cards">
          <% items.forEach(item => { %>
              <a href="/items/<%= item.name %>" class="item">
                <span class="item-name"><%= item.name %></span>
                <span class="item-category"><%= item.category || '/' %></span>
                <img src="<%= item.imageurl %>" alt="">
                <span class="item-price"><%= item.price %></span>
                <% if (item.amount > 0) { %>
                    <span class="item-amount">Amount: <%= item.amount %></span>
                <% } else if (item.amount === 0) { %>
                    <span class="item-sold-out">Sold Out</span>
                <% } %>
              </a>
          <% }) %>
        </div>
    <% } %>
    <%- include('partials/sidebar', { categories, stores }) %>
  </body>
</html>
