<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= item.name %></title>
  </head>
  <body>
    <h1><%= item.name %></h1>
    <span>Price: <%= item.price %></span>
    <span>Availability in Stores:</span>
    <ul>
      <% availabilities.forEach(store => { %>
          <li><%= store.name %>: <%= store.amount || 'Sold Out' %></li>
      <% }) %>
    </ul>
    <h2>Change Item Name</h2>
    <%- include('partials/errors', { errors }) %>
    <form action="/items/<%= item.name %>" method="POST">
      <label for="rename">New name:</label>
      <input type="text" name="rename" id="rename">
      <label for="password">Admin Password:</label>
      <input type="password" name="password" id="password">
      <button type="submit">Change</button>
    </form>
  </body>
</html>
